#student-dashboard {
  min-height: 100vh;
  padding-top: 2rem;
  max-width: 80%;
  margin: 0 auto;
  p {
    margin: 0;
    padding: 0;
  }
  .dashboard-wrapper {
    margin: 0 auto;
    .dashboard-unit {
      margin-bottom: 2rem;
      text-align: center;
      h3 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }
      .icon {
        font-size: 4rem;
        fill: var(--primary-color);
      }
    }
  }
}

@media (min-width: 800px) {
  #student-dashboard {
    .dashboard-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}
