#services {
  margin-bottom: 2rem;
  .service-unit {
    margin-bottom: 1rem;
    h2 {
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: 800px) {
  #services {
    .service-wrapper {
      background-color: red;
    }
  }
}
