#sideNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  display: grid;
  place-content: center;
  .close {
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
}
