#portal {
  min-height: 60vh;
  a {
    text-decoration: none;
    color: white;
  }
  .heading {
    text-transform: capitalize;
  }
  .text-wrapper {
    max-width: 500px;
    margin: 0 auto 3rem;
  }
  .menu-wrapper {
    .menu-unit {
      padding: 1rem;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      transition: all ease-in-out 300ms;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        z-index: 1000;
      }
    }
    h2 {
      text-align: center;
      margin-bottom: 1rem;
      color: var(--primary-color);
    }
  }
  p {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  #portal {
    .menu-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
