#about-me {
  .heading {
    margin-bottom: 2rem;
  }
  .image-wrapper {
    margin-bottom: 2rem;
    img {
      height: 500px;
      object-fit: cover;
      object-position: top center;
    }
  }
  .text-wrapper {
    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 800px) {
  #about-me {
    .about-me-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}
