#integrate-ai {
  margin-bottom: 3rem;
  .image-wrapper {
    margin-bottom: 2rem;
  }
  .text-wrapper {
    margin-bottom: 2rem;
    h1 {
      color: var(--primary-color);
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: 0.8rem 2rem;
      font-size: 1rem;
    }
  }
}

@media (min-width: 800px) {
  #integrate-ai {
    .integrate-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 20px;
    }
  }
}
