#audience {
  margin-bottom: 3rem;
  .card {
    margin-bottom: 1rem;
    box-shadow: none;
    border: none;
    border-radius: 0;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-weight: 800;
    }
  }
}

@media (min-width: 800px) {
  #audience {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }
}
