#scale {
  .container {
    .text-wrapper {
      margin-bottom: 3rem;
      p {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media (min-width: 800px) {
  #scale {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .text-wrapper {
        display: grid;
        place-content: center;
      }
    }
  }
}
