#newsletter {
  padding: 0rem 0rem 3rem 0rem;
  .heading {
    font-size: 1.8rem;
  }
  p {
    text-align: center;
    margin-bottom: 1rem;
  }
  .image-wrapper {
    img {
      width: 200px;
      display: block;
      margin: 0 auto 2rem;
      border-radius: 50%;
      object-fit: cover;
      border: 8px solid var(--primary-color);
    }
  }

  form {
    max-width: 400px;
    margin: 0 auto;

    input {
      display: block;
      width: 100%;
      padding: 0.8rem 0rem;
      text-indent: 20px;
      font-size: 16px;
      margin-bottom: 1rem;
      background-color: #1e1e1e; // dark background for the input
      color: #f1f1f1; // white-ish text color for input value
      border: 1px solid #333;
      border-radius: 6px;

      &::placeholder {
        color: #777; // muted gray placeholder
        font-style: italic;
        opacity: 0.8;
        transition: color 0.3s ease, opacity 0.3s ease;
      }

      &:focus {
        border-color: #555;
        outline: none;

        &::placeholder {
          color: #aaa;
          opacity: 1;
        }
      }
    }

    .text-error {
      color: red;
    }

    button {
      background-color: var(--primary-color);
      padding: 1rem 0rem;
      display: block;
      width: 80%;
      margin: 0 auto;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      outline: none;
      color: white;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: transparent;
        color: white;
        border: 2px solid var(--primary-color);
      }
    }
  }
}
