@import '../../styles/tokens.scss';

.home {
  display: flex;
  flex-direction: column;
}

.home-cta {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

@media (min-width: 768px) {
  .home-cta {
    flex-direction: row;
  }
}
