#features {
  margin-bottom: 3rem;
  .features-wrapper {
    .features-unit {
      margin-bottom: 1rem;
      display: flex;
      .icon-wrapper {
        margin-right: 1rem;
        .icon {
          font-size: 2rem;
        }
      }
      .text-wrapper {
        h2 {
          margin-bottom: 0.8rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 25px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  #features {
    .features-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}
