#landing {
  .container {
    .text-wrapper {
      margin-bottom: 2rem;
      .heading {
        font-size: 3rem;
        text-transform: capitalize;
        margin-bottom: 1rem !important;
      }
      .sub-heading {
        margin-bottom: 1rem;
      }
      .slug {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 800px) {
  #landing {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .text-wrapper {
        display: grid;
        place-content: center;
      }
    }
  }
}
