#landing {
  margin-bottom: 3rem;
  text-align: center;
  .landing-wrapper {
    max-width: 700px;
    margin: 3rem auto;
    min-height: 60vh;

    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

@media (min-width: 800px) {
  #landing {
    .landing-wrapper {
      max-width: 800px;
    }
  }
}
