.main-header {
  padding: 2rem 0rem;
  a {
    text-decoration: none;
    color: white;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 1.2rem;
    }
    nav a {
      display: inline-block;
      margin-left: 1rem;
    }
    nav button {
      margin-left: 1rem;
      background-color: transparent;
      color: white;
      border: None;
      outline: None;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
