.header {
  color: white;
  padding: 1rem 0rem;
  a {
    color: white;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      display: none;
    }
    nav a {
      display: inline-block;
      margin-left: 1rem;
      text-decoration: none;
    }
  }
}
