.main-header .container {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  a {
    text-decoration: none;
    color: white;
  }

  .logo {
    font-size: 1.2rem;
  }

  nav a {
    margin-left: 1rem;
    display: none;
  }

  nav .menu {
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media (min-width: 800px) {
  .main-header .container {
    nav a {
      display: inline-block;
    }

    nav .menu {
      display: none;
    }
  }
}
