#courses {
  padding-bottom: 3rem;
  .container {
    display: block;
    .course-item {
      margin-bottom: 1rem;
      cursor: pointer;
      .price {
        font-size: 1.2rem;
      }
      a {
        color: white;
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 600px) {
  #courses {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (min-width: 960px) {
  #courses {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
