#courses {
  padding-bottom: 3rem;
  .container {
    display: block;
    .course-item {
      margin-bottom: 1rem;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      &:hover {
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 5px;
        transform: scale(1.02);
      }
    }
  }
}

@media (min-width: 600px) {
  #courses {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (min-width: 960px) {
  #courses {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
