#chat-box {
  min-height: 100vh;
  background-color: grey;
  input {
    display: block;
    width: 100%;
    padding: 0.8rem 0rem;
    text-indent: 20px;
  }
  button {
    display: block;
    width: 100%;
    background: black;
    cursor: pointer;
    color: white;
    padding: 0.8rem 0rem;
  }
}
