#about {
  margin-bottom: 3rem;
  h1 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  #about {
    .about-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 20px;
    }
  }
}
