.mentorship {
  margin-bottom: 3rem;
  .overlay {
    margin: 0 auto;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      color: var(--primary-color);
    }
    p {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
